.quote{
    background-color: rgba(178, 177, 177, 0.69);
    padding: 33px;
    border-radius: 10px;
    place-self: center;
    align-items: center;
    flex-direction: column;
    /* width: 50%; */
    /* height: 250px; */
    margin-top: 15px;
    font-family:  cursive, Verdana, Tahoma, sans-serif;
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 30px;
    
}
.button{
    margin-top: 5px;
}
.quoteNone{
    padding: 33px;
    width: 400px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.custom-select option{
    text-transform: capitalize;
}

.quoteDay{
    background-color: rgba(238, 215, 7, 0.69);
    padding: 33px;
    border-radius: 10px;
    place-self: center;
    align-items: center;
    flex-direction: column;
    /* width: 20%; */
    margin-top: 15px;
    /* font-family:  cursive, Verdana, Tahoma, sans-serif; */
    margin-bottom: 10px;
    margin-left: 10px;
}
.right{
    /* background-color: rgba(178, 177, 177, 0.69); */
    padding: 33px;
    border-radius: 10px;
    place-self: center;
    align-items: center;
    flex-direction: column;
    /* width: 50%; */
    margin-top: 15px;
    /* font-family:  cursive, Verdana, Tahoma, sans-serif; */
    margin-bottom: 10px;
    margin-right: 10px;
}
/* .content, .fof{
    display: flex;
    justify-content: space-between;
} */